# Setup

In [1]:
%defaultDatasource jdbc:h2:mem:db

In [2]:
DROP Table IF EXISTS Person;
DROP Table IF EXISTS Drug;
DROP Table IF EXISTS DrugUse;

In [3]:
CREATE TABLE Person (
  Id VARCHAR(5) NOT NULL,
  Gender INTEGER,
  Age INTEGER,
  PRIMARY KEY(Id)
) AS SELECT
    id,
    gender,
    age
FROM CSVREAD('../data/demographic-person.csv');

CREATE TABLE Drug (
  Code VARCHAR(6) NOT NULL,
  Name VARCHAR(100) NOT NULL,
  PRIMARY KEY(Code)
) AS SELECT
    code,
    name
FROM CSVREAD('../data/medications-drug.csv');

CREATE TABLE DrugUse (
  PersonId VARCHAR(5) NOT NULL,
  DrugCode VARCHAR(6) NOT NULL,
  DaysUse INTEGER,
  FOREIGN KEY(PersonId)
    REFERENCES Person(Id)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
  FOREIGN KEY(DrugCode)
    REFERENCES Drug(Code)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
) AS SELECT
    person_id,
    drug_code,
    days_use
FROM CSVREAD('../data/medications-use.csv');

In [4]:
SELECT * FROM Person

In [5]:
SELECT * FROM Drug

In [6]:
SELECT * FROM DrugUse

# I. Análise do comportamento estatístico

### 1) Liste o nome de todos os medicamentos e a quantidade de pessoas que usa cada um deles.

In [77]:
DROP TABLE IF EXISTS View1;
DROP TABLE IF EXISTS View2;

In [78]:
CREATE VIEW View1 AS
SELECT Drug.name, Drug.code
FROM Drug, DrugUse
WHERE Drug.code = DrugUse.drugcode;

In [92]:
CREATE VIEW View2 AS
SELECT code, name, COUNT(name) as quantity
FROM View1
GROUP BY name
ORDER BY quantity DESC, name;

In [94]:
SELECT name, quantity FROM View2;

### 2) Informe o código do medicamento mais usado: fazendo uso de VIEW.

In [98]:
SELECT code
FROM (
    SELECT TOP 1 *
    FROM View2
    ) Table1;

d00732

### 3) Informe o código do medicamento mais usado: sem fazer uso de VIEW.

In [101]:
SELECT code
FROM (
    SELECT Table1.code, COUNT(Table1.code) as quantity
    FROM (
        SELECT Drug.name, Drug.code
        FROM Drug, DrugUse
        WHERE Drug.code = DrugUse.drugcode
        ) Table1
    GROUP BY Table1.name
    ORDER BY quantity DESC
    LIMIT 1
    ) Table2;

d00732

### 4) Informe o nome do medicamento mais usado (uso de VIEW é opcional).

##### NOTA: Selecionei os Top 2 porque visualizações de linha única parecem estar com problemas no BickerX.

In [103]:
SELECT name
FROM (
    SELECT TOP 1 *
    FROM View2
    ) Table1;

LISINOPRIL

### 5) Informe o número médio de uso de medicamento por pessoa.

##### Nota: O número real é 14016 / 4033 ≅ 3.47. Abaixo tem-se o valor arredondado obtido pela função AVG, ou seja, 3.

In [109]:
DROP TABLE IF EXISTS View3;

In [110]:
CREATE VIEW View3 AS
SELECT personid, COUNT(personid) as quantity
FROM DrugUse
GROUP BY personid;

In [113]:
SELECT SUM(quantity) FROM View3;

14016

In [114]:
SELECT COUNT(*) FROM View3;

4033

In [111]:
SELECT AVG(quantity)
FROM View3;

3

### 6) Liste o id das pessoas que usam mais medicamentos do que a média.

In [120]:
SELECT personid
FROM View3
WHERE quantity > (
    SELECT AVG(quantity)
    FROM View3
    );

### 7) Considere que um médico quer fazer responder a seguinte questão: pessoas tendem a usar mais medicamentos conforme ficam mais velhas? Escreva uma query que ajude o médico a realizar esta análise.

In [135]:
DROP TABLE IF EXISTS View4;
DROP TABLE IF EXISTS View5;

In [136]:
CREATE TABLE View4 AS
SELECT Person.Age
FROM Person, DrugUse
WHERE Person.id = DrugUse.personid;

In [137]:
CREATE TABLE View5 AS
SELECT age, COUNT(age) as quantity
FROM View4
GROUP BY age
ORDER BY age DESC;

In [145]:
SELECT * FROM View5;

In [141]:
SELECT AVG(quantity)
FROM View5
WHERE age BETWEEN 60 AND 80

358

In [142]:
SELECT AVG(quantity)
FROM View5
WHERE age BETWEEN 40 AND 59

196

In [143]:
SELECT AVG(quantity)
FROM View5
WHERE age BETWEEN 20 AND 39

63

In [144]:
SELECT AVG(quantity)
FROM View5
WHERE age BETWEEN 0 AND 19

66

# II. Navegando por Hierarquias

In [146]:
DROP TABLE IF EXISTS Taxonomia;
DROP TABLE IF EXISTS Marcadores;

In [147]:
CREATE TABLE Taxonomia (
  Categoria VARCHAR(50) NOT NULL,
  Superior  VARCHAR(50),
  PRIMARY KEY(Categoria),
  FOREIGN KEY(Superior)
    REFERENCES Taxonomia(Categoria)
      ON DELETE NO ACTION
      ON UPDATE CASCADE
);

CREATE TABLE Marcadores (
  Titulo VARCHAR(50) NOT NULL,
  Endereco VARCHAR(80) NOT NULL,
  Acessos INTEGER,
  Categoria VARCHAR(50) NOT NULL,
  PRIMARY KEY(Titulo),
  FOREIGN KEY(Categoria)
    REFERENCES Taxonomia(Categoria)
      ON DELETE NO ACTION
      ON UPDATE CASCADE
);

In [148]:
INSERT INTO Taxonomia VALUES ('Geral', NULL);
INSERT INTO Taxonomia VALUES ('Serviços', 'Geral');
INSERT INTO Taxonomia VALUES ('Acadêmico', 'Geral');
INSERT INTO Taxonomia VALUES ('Relacionamento', 'Geral');
INSERT INTO Taxonomia VALUES ('Busca', 'Serviços');
INSERT INTO Taxonomia VALUES ('Portal', 'Serviços');
INSERT INTO Taxonomia VALUES ('Mail', 'Serviços');
INSERT INTO Taxonomia VALUES ('Vendas', 'Serviços');
INSERT INTO Taxonomia VALUES ('Universidade', 'Acadêmico');
INSERT INTO Taxonomia VALUES ('CG', 'Acadêmico');
INSERT INTO Taxonomia VALUES ('Sociedade', 'Acadêmico');
INSERT INTO Taxonomia VALUES ('Rede Social', 'Relacionamento');
INSERT INTO Taxonomia VALUES ('Marketplace', 'Vendas');
INSERT INTO Taxonomia VALUES ('Loja', 'Vendas');
INSERT INTO Taxonomia VALUES ('Notícias', 'Portal');
INSERT INTO Taxonomia VALUES ('Agregador', 'Portal');

INSERT INTO Marcadores VALUES ('Terra', 'http://www.terra.com.br', 295, 'Portal');
INSERT INTO Marcadores VALUES ('POVRay', 'http://www.povray.org', 2, 'CG');
INSERT INTO Marcadores VALUES ('SBC', 'http://www.sbc.org.br', 26, 'Sociedade');
INSERT INTO Marcadores VALUES ('Correios', 'http://www.correios.com.br', 45, 'Serviços');
INSERT INTO Marcadores VALUES ('GMail', 'http://www.gmail.com', 296, 'Mail');
INSERT INTO Marcadores VALUES ('Google', 'http://www.google.com', 1590, 'Busca');
INSERT INTO Marcadores VALUES ('Yahoo', 'http://www.yahoo.com', 134, 'Serviços');
INSERT INTO Marcadores VALUES ('Orkut', 'http://www.orkut.com', 45, 'Rede Social');
INSERT INTO Marcadores VALUES ('iBahia', 'http://www.ibahia.com', 3, 'Portal');
INSERT INTO Marcadores VALUES ('Submarino', 'http://www.submarino.com.br', 320, 'Loja');
INSERT INTO Marcadores VALUES ('Amazon', 'https://www.amazon.com.br', 410, 'Marketplace');
INSERT INTO Marcadores VALUES ('Americanas', 'https://www.americanas.com.br', 320, 'Loja');
INSERT INTO Marcadores VALUES ('Mercado Livre', 'https://www.mercadolivre.com.br', 500, 'Marketplace');
INSERT INTO Marcadores VALUES ('G1', 'https://g1.globo.com', 1200, 'Notícias');
INSERT INTO Marcadores VALUES ('Folha', 'https://www.folha.uol.com.br', 850, 'Notícias');
INSERT INTO Marcadores VALUES ('Google News', 'https://news.google.com', 900, 'Agregador');
INSERT INTO Marcadores VALUES ('Flipboard', 'https://flipboard.com', 950, 'Agregador');

In [149]:
SELECT * FROM Taxonomia;

In [150]:
SELECT * FROM Marcadores;

### 1) Escreva em SQL uma consulta que retorne os marcadores da categoria Serviços, sem considerar as categorias subordinadas.

In [161]:
SELECT *
FROM Marcadores
WHERE categoria = 'Serviços';

### 2) Escreva em SQL uma consulta que retorne os marcadores da categoria Serviços, considerando as categorias subordinadas.

In [153]:
DROP TABLE IF EXISTS View6;
DROP TABLE IF EXISTS View7;

In [155]:
CREATE TABLE View6 AS
SELECT M.titulo, M.endereco, M.acessos, M.categoria, T.superior
FROM Taxonomia T, Marcadores M
WHERE T.categoria = M.categoria;

In [159]:
CREATE TABLE View7 AS
SELECT V.titulo, V.endereco, V.acessos, V.categoria, V.superior, T.superior as supersuperior
FROM View6 V, Taxonomia T
WHERE V.superior = T.categoria;

In [160]:
SELECT * FROM View7;

In [162]:
SELECT *
FROM View7
WHERE categoria = 'Serviços'
OR superior = 'Serviços'
OR supersuperior = 'Serviços';