# Setup

In [1]:
%defaultDatasource jdbc:h2:mem:db

# Tarefa #1: Esquema relacional

demographic-person.csv
* __id__
* gender
* age

medications-drug.csv
* __code__
* name

medications-use.csv (possui linhas idênticas)
* id (ESTRANGEIRA)
* drug_code (ESTRANGEIRA)
* days_use

# Tarefa 2: Importação da tabelas

In [2]:
DROP TABLE IF EXISTS Pessoa;
DROP TABLE IF EXISTS Medicamento;
DROP TABLE IF EXISTS Uso;

In [3]:
CREATE TABLE Pessoa (
  id VARCHAR(5) NOT NULL,
  gender INTEGER,
  age INTEGER,
  PRIMARY KEY(id)
) AS SELECT
    id,
    gender,
    age
FROM CSVREAD('../data/demographic-person.csv');

In [4]:
CREATE TABLE Medicamento (
  code VARCHAR(6) NOT NULL,
  name VARCHAR(100) NOT NULL,
  PRIMARY KEY(code)
) AS SELECT
    code,
    name
FROM CSVREAD('../data/medications-drug.csv');

In [5]:
CREATE TABLE Uso (
  id VARCHAR(5) NOT NULL,
  code VARCHAR(6) NOT NULL,
  days INTEGER
) AS SELECT
    person_id,
    drug_code,
    days_use
FROM CSVREAD('../data/medications-use.csv');

# Tarefa 3: Consultas

### a) Liste pessoas com idade acima de 60

In [6]:
SELECT *
    FROM Pessoa P
    WHERE P.age >= 60;

### b) Liste as idades das pessoas cadastradas (sem repetições)

In [7]:
SELECT DISTINCT P.age FROM Pessoa P

### c) Liste código das pessoas, idade, código dos medicamentos que usaram e dias de uso

In [8]:
SELECT P.id, P.age, U.code, U.days
    FROM Pessoa P, Uso U
    WHERE P.id = U.id

### d) Liste código das Pessoas, idade, nome dos medicamentos que usaram e quantos dias de uso

In [9]:
SELECT P.id, P.age, M.name, U.days
    FROM Pessoa P, Uso U, Medicamento M
    WHERE P.id = U.id
        AND M.code = U.code;

### e) Liste nome dos medicamentos que foram usados por pessoas (sem repetições)

In [10]:
SELECT DISTINCT M.name
    FROM Medicamento M, Uso U
    WHERE M.code = U.code
    ORDER BY M.name

### f) Liste nome dos medicamentos usados por mais de 2.000 dias (sem repetições)

In [11]:
SELECT DISTINCT M.Name
    FROM Medicamento M, Uso U
    WHERE M.code = U.code
        AND U.days >= 2000
    ORDER BY M.name